<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User</title>

    <style>
        h1 {
            text-align: center;
        }

        input[type="submit"] {
            font-size: 20px;
            cursor: pointer;
        }

        h6 {
            text-align: left;
        }
    </style>

</head>
<body>

<h1>User</h1>

<br/>
<hr/>
<br/>

<p th:text="'ID: [ ' + ${user.getId()} + ' ]'">VALUE</p>
<p th:text="${user.getName()}">VALUE</p>
<p th:text="${user.getSurName()}">VALUE</p>
<p th:text="${user.getUsername()}">VALUE</p>
<p th:text="${user.getPassword()}">VALUE</p>
<p th:each="role : ${user.getRoles()}"
   th:text="${role.getName().replace('ROLE_', '') + ' '}"></p>

<br/>
<hr/>

<h2>
    <a th:href="@{/admin/{id}/edit(id=${user.getId()})}">Edit</a>
</h2>

<br/>
<form th:method="POST" th:action="@{/admin/{id}?action=del(id=${user.getId()})}">
<!--    <input type="hidden" name="_method" value="DELETE"/>-->
    <input type="submit" value="Delete!"/>
</form>

<br/>
<hr/>

<h6>
    <button onclick="window.location.href='/admin'">go back to the list of users</button>
</h6>

<br/>
<hr/>

<br/>


<br/>
<hr/>

<form th:method="POST" th:action="@{/logout}">
    <input type="submit" value="Logout!"/>
</form>

</body>
</html>