<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Spring Security Example</title>
</head>
<body>
<h1>User, welcome spring boot security page!</h1>

<br/>
<hr/>
<br/>

<p th:text="'ID: [ ' + ${user.getId()} + ' ]'">VALUE</p>
<p th:text="${user.getName()}">VALUE</p>
<p th:text="${user.getSurName()}">VALUE</p>
<p th:text="${user.getUsername()}">VALUE</p>
<p th:text="${user.getPassword()}">VALUE</p>
<p th:each="role : ${user.getRoles()}"
   th:text="${role.getName().replace('ROLE_', '') + ' '}"></p>



<br/>
<hr/>

<br/>


<br/>
<hr/>

<form th:method="POST" th:action="@{/logout}">
    <input type="submit" value="Logout!"/>
</form>


</body>
</html>